<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{pageTitle}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li><a routerLink="/event" routerLinkActive="active"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a [routerLink]="['place']" routerLinkActive="active"><i class="glyphicon glyphicon-play-circle"></i></a></li>
                <li><a [routerLink]="['championship']" routerLinkActive="active"><i class="glyphicon glyphicon-star"></i></a></li>
                <!--
                <li><a routerLink="/Events" routerLinkActive="active"><i class="glyphicon glyphicon-eye-open"></i></a></li>
                <li><a routerLink="/Gallery" routerLinkActive="active"><i class="glyphicon glyphicon-camera"></i></a></li>
                <li><a routerLink="/Movies" routerLinkActive="active"><i class="glyphicon glyphicon-play-circle"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> Iniciar Session</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-envelope"></i> Registrarse</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Salir</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>

    <router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Develop by FUNNEST</p>
    </div>
</footer>
