<section class="container">

    <article class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-body">

                <div *ngIf="populars">
                    <h4>Fotografias mas populares</h4>
                    <div *ngFor="let topPlace of topPlaces" class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    {{topPlace.title}}
                                </div>
                                <div class="col-md-2">
                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                                    <span class="label label-success">{{topPlace.likes}}</span>
                                </div>
                            </div>
                        </div>
                        <img src="{{topPlace.largeImage}}" width="100%">
                    </div>
                </div>
                <h3>{{placeName}}{{postData}}</h3>
                <div id="links">
                    <a *ngFor="let image of currentImages" data-gallery="Data Gallery" title="{{image.title}}" href="{{image.largeImage}}">
                        <img src="{{image.smallImage}}" width="83px" height="83px">
                    </a>
                </div>

                <div id="blueimp-gallery" class="blueimp-gallery">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                    <!-- The modal dialog, which will be used to wrap the lightbox content -->
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-hidden="true">×</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body next"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left prev">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="button" class="btn btn-primary next">
                                        Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <aside class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Galeria de:
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a *ngFor="let place of places" class="list-group-item" (click)="selectPlace(place.id)">
                        {{place.name}}
                        <span class="pull-right text-muted small"><em>{{place.images.length}} Fotografias</em></span>
                    </a>
                </div>
            </div>
        </div>
    </aside>

</section>
