<section class="container">
    <article class="col-md-8">
        <div class="row">

            HOME PAGE

        </div>
    </article>

    <aside class="col-md-4">
        <div class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bolivia
                </div>
                <div class="panel-body">
                    <img src="app/modules/assets/images/Bolivia.jpg" width="100%">
                </div>
            </div>
        </div>
    </aside>
</section>