<section class="container">

    <article class="col-sm-8">
        <div *ngIf="groupsOption">
        <div *ngFor="let group of groups">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Grupo: {{group.name}}</h4></div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="active">
                            <th>#</th>
                            <th>EQUIPO</th>
                            <th>RESPONSABLE</th>
                            <th>LUGAR</th>
                            <th>JUGADORES</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let team of group.teams; let i = index;">
                            <th scope="row">{{i+1}}</th>
                            <td><a (click)="redirectToTeam(team.id)">{{team.name}}</a></td>
                            <td>{{team.manager}}</td>
                            <td>{{team.place}}</td>
                            <th>{{team.players}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <div *ngIf="resultOption">
        <div *ngFor="let group of groups">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Tabla de posiciones:{{group.name}}</h4></div>
                <div class="panel-body">
                    <p><b>Lista de equipos en order de puntacion,</b>
                        PJ = Partidos Jugados,
                        PG = Partidos Ganados,
                        PE = Partidos Empatados,
                        PP = Partidos Perdidos,
                        GF = Goles a Favor,
                        GC = Goles en Contra,
                        DI = Diferencia,
                        PT = Puntuacion Total
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr class="active">
                            <th>#</th>
                            <th>EQUIPO</th>
                            <th>PJ</th>
                            <th>PG</th>
                            <th>PE</th>
                            <th>PP</th>
                            <th>GF</th>
                            <th>GC</th>
                            <th>DI</th>
                            <th>PT</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let team of group.teams; let i = index;" [ngClass]="{'success': i < 4, 'danger': i >= 4}">
                            <th scope="row">{{i+1}}</th>
                            <td><a (click)="redirectToTeam(team.id)">{{team.name}}</a></td>
                            <td>{{team.PJ}}</td>
                            <td>{{team.PG}}</td>
                            <td>{{team.PE}}</td>
                            <td>{{team.PP}}</td>
                            <td>{{team.GF}}</td>
                            <td>{{team.GC}}</td>
                            <td>{{team.DI}}</td>
                            <th scope="row">{{team.PT}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <div *ngIf="fixtureOption">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Fixture Campeonato</h4></div>
                <img src="app/modules/assets/images/championship/fixtures/fixture1.jpg">
            </div>
        </div>
    </article>

    <aside class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Menu de opciones:{{idChampionship}}
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a (click)="displayOption('groups')" class="list-group-item">Grupos</a>
                    <a (click)="displayOption('results')" class="list-group-item">Resultados</a>
                    <a (click)="displayOption('fixture')" class="list-group-item">Fixture</a>
                    <a (click)="displayOption('goolers')" class="list-group-item">Goleadores</a>
                    <a (click)="displayOption('gallery')" class="list-group-item">Galeria</a>
                    <a (click)="displayOption('fields')" class="list-group-item">Canchas</a>
                </div>
            </div>
        </div>
    </aside>

</section>
