
<div class="col-md-12">
    <div class="form-group">
        <label for="title">Titulo</label>
        <input [(ngModel)]="event.title" type="text" id="title" class="form-control" placeholder="Titulo del evento">
    </div>
    <div class="form-group">
        <label for="date">Fecha</label>
        <input [(ngModel)]="event.date" type="text" id="date" class="form-control" placeholder="DD de mes YYYY">
    </div>
    <div class="form-group">
        <label for="picture">Imagen de portada</label>
        <input (change)="fileChangeEvent($event)" type="file" id="picture">
    </div>
    <div class="form-group">
        <label for="description">Descripcion</label>
        <textarea [(ngModel)]="event.description" class="form-control" id="description" rows="4"></textarea>
    </div>
    <div class="col-md-offset-4">
        <button class="btn btn-primary" (click)="addEvent()">Publicar</button>
    </div>
</div>

