<section class="container">
    <article class="col-sm-8">
        <div class="row">
            <div *ngFor="let event of events" class="col-sm-12">
                <div class="thumbnail">
                    <img src="{{event.image}}">
                    <div class="caption">
                        <h4><a target="_blank" href="{{event.urlOrigin}}">{{event.title}}</a> <b class="pull-right">{{event.date}}</b></h4>
                        <p>{{event.description}}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 asistiran</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <aside class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Eventos en Bolivia <button [routerLink]="['new']" *ngIf="sessionEnabled" type="button" class="btn btn-success btn-xs pull-right">Nuevo evento</button>
            </div>
            <router-outlet></router-outlet>
            <div class="panel-body">
                <img src="app/modules/assets/images/Bolivia.jpg" width="100%">
            </div>
        </div>
    </aside>
</section>