<section class="container">
    <div *ngFor="let currentTeam of team">
    <div class="col-md-7">
        <div *ngIf="displayPlayer">
            <player [player]="player"></player>
        </div>
        <div *ngIf="!displayPlayer">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="{{currentTeam.pictureTeam}}" width="100%">
                    <p>{{currentTeam.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <aside class="col-md-5" data-toggle="collapse">
        <div class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
            <div class="panel panel-default">
                <div class="panel-heading" (click)="displayTeamPicture()">
                    {{currentTeam.name}}{{idTeam}}
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a *ngFor="let player of currentTeam.players" class="list-group-item" (click)="setPlayer(player)">
                            {{player.firstName +' '+player.lastName}}
                            <span class="pull-right text-muted small"><em>{{player.position}}</em></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    </div>

</section>
