<section class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar campeonato...">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button">Buscar</button>
                </span>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br>
    <div class="row" align="center">

        <div *ngFor="let championship of championships" class="col-sm-3">
            <img class="img-thumbnail" src="{{championship.picture}}" width="200" (click)="redirectToGroups(championship.id)">
            <h4>{{championship.name}}</h4>
            <p>{{championship.description}}</p>
        </div>
    </div>
</section>
