body {
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #eee;
}

footer {
    background-color: #222;
}

li a.active{
    color: white;
    border-color: white;
}

section{
    min-height: 96.5%
}
